html{
	height: 100%;
}
body{
	min-height: 100%;
}

*{
	font-family: 'Noto Serif KR', Times;
	color:#ffffff;
	padding:0px;
	margin: 0px;
}

#title{
	position: relative;
	width: 100%;
	font-size:8vmin;
	text-align:center;
	padding-bottom: 60px;
	padding-top: 5px;
}

.centre{
	position:absolute;
	width:100%;
	top: 50%;
	transform: translate(0%, -50%);
	text-align: center;
}

