html{
	height: 100%;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

}
body{
	min-height: 100%;
}

*{
	font-family: 'Noto Serif KR', Times;
	color:#ffffff;
	padding:0px;
	margin: 0px;
}

#title{
	position:absolute;
	font-size:8vmin;
	text-align:center;
	top: 35%;
	width:100%;
}
